<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <img src="headshot.jpeg">

    <div class="hero">
        <nav>

            <ul> 
                <li><a href= "#"> Home </a></li>
                <li><a href= "#"> Members </a></li>


            </ul>
        </nav>

        <div class="paul">
            <h1>Paul </h1>

        </div>

        <div class="sheo">
            <h1>Sheo</h1>

        </div>
    

    </div>

    </div>
    

</div>
         
</body>
</html>