.navigation-links1-nav {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text {
  color: var(--dl-color-colours-text);
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links1-text:hover {
  color: var(--dl-color-colours-dove-gray);
}
.navigation-links1-text1 {
  color: var(--dl-color-colours-text);
  transition: 0.3s;
  margin-left: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.navigation-links1-text1:hover {
  color: var(--dl-color-colours-dove-gray);
}








.navigation-links1-root-class-name12 {
  align-self: center;
  margin-left: var(--dl-space-space-sixunit);
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    width: auto;
    height: 24px;
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-root-class-name12 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .navigation-links1-nav {
    height: 24px;
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links1-root-class-name12 {
    margin-left: var(--dl-space-space-doubleunit);
  }
}

.nav-bar-container {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-header {
  width: 100%;
  display: flex;
  max-width: auto;
  box-shadow: 0px 3px 15px 2px #ffffff;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-colours-bg-color);
}
.nav-bar-container1 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-sixunit);
  justify-content: center;
}
.nav-bar-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-sixunit);
  flex-direction: row;
}
.nav-bar-navlink {
  display: contents;
}
.nav-bar-logo {
  width: 100px;
  height: 100px;
  text-decoration: none;
}
.nav-bar-nav {
  display: flex;
  align-items: center;
  padding-left: 32px;
  flex-direction: row;
}







@media(max-width: 767px) {
  .nav-bar-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav-bar-container2 {
    width: auto;
    height: auto;
    margin-left: 0px;
  }
  .nav-bar-nav {
    width: 411px;
    height: auto;
  }
}
@media(max-width: 479px) {
  .nav-bar-header {
    height: 112px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .nav-bar-container1 {
    position: relative;
  }
  .nav-bar-container2 {
    top: -30px;
    left: -70px;
    width: 289px;
    height: 58px;
    position: absolute;
    margin-left: 0px;
    flex-direction: row;
    justify-content: center;
  }
  .nav-bar-logo {
    width: 63px;
    height: 63px;
    margin-right: 0px;
  }
  .nav-bar-nav {
    width: auto;
    margin-right: var(--dl-space-space-doubleunit);
    padding-left: 0px;
  }
}

.footer-container {
  width: 100%;
  height: 163px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-section-seperator {
  flex: 0 0 auto;
  width: 100%;
  height: 0.5px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-colours-dove-gray);
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.footer-text {
  color: var(--dl-color-colours-text);
}



.members-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.members-our-team {
  width: 1211px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-sixunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-sixunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunit);
  justify-content: flex-start;
  background-color: rgba(232, 231, 231, 0.5);
}
.members-our-team1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-text {
  color: var(--dl-color-colours-text);
  width: auto;
  height: auto;
  font-size: 48px;
  align-self: center;
  margin-top: 5rem;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  margin-bottom: 5rem;
  letter-spacing: 13px;
  text-transform: none;
  text-decoration: none;
}
.members-olivia {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunit);
  flex-direction: row;
  justify-content: center;
}
.members-olivia-fong {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.members-image {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-oliviafong {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-olivia1 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-navlink {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-navlink:hover {
  color: var(--dl-color-colours-dove-gray);
}
.members-paul {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunit);
  justify-content: center;
}
.members-paul-sheo {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.members-image1 {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-paul1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-paul2 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation1 {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-button {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-button:hover {
  color: var(--dl-color-colours-dove-gray);
}
.members-madhu {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunit);
  flex-direction: row;
  justify-content: center;
}
.members-madhu-laxmi {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container3 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.members-image2 {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-madhu1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-madhu2 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation2 {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-button1 {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-button1:hover {
  color: var(--dl-color-colours-dove-gray);
}
.members-jenny {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunit);
  justify-content: center;
}
.members-jenny-bui {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container4 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.members-image3 {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-jenny1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-jenny2 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation3 {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-button2 {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-button2:hover {
  color: var(--dl-color-colours-dove-gray);
}
.members-byron {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunit);
  flex-direction: row;
  justify-content: center;
}
.members-bryon {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container5 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.members-image4 {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-byron1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-byron2 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation4 {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-button3 {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-button3:hover {
  color: var(--dl-color-colours-dove-gray);
}
.members-liam {
  flex: 0 0 auto;
  width: 437px;
  height: auto;
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-right: 5rem;
  justify-content: center;
}
.members-liam-tugonon {
  width: 381px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.members-container6 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-end;
  flex-direction: column;
}
.members-image5 {
  width: 250px;
  height: 250px;
  align-self: flex-start;
  box-shadow: -4px -4px 15px 5px #ffffff,4px 4px 15px 5px #6d6d6d;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.members-liam1 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.members-liam2 {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  font-weight: 700;
  margin-left: var(--dl-space-space-tripleunit);
  letter-spacing: 3px;
}
.members-occupation5 {
  color: var(--dl-color-colours-blue);
  font-size: 16px;
  margin-top: var(--dl-space-space-halfunit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
}
.members-button4 {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: 0.1rem;
  border-width: 0px;
  padding-bottom: 0.1rem;
  text-transform: none;
  text-decoration: none;
  background-color: var(--dl-color-colours-pale-slate);
}
.members-button4:hover {
  color: var(--dl-color-colours-dove-gray);
}
@media(max-width: 991px) {
  .members-our-team {
    width: auto;
  }
  .members-olivia {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-sixunit);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-paul {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-sixunit);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-madhu {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-sixunit);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-jenny {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-sixunit);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-byron {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-sixunit);
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-liam {
    width: 410px;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: center;
    margin-left: var(--dl-space-space-sixunit);
    margin-right: 74px;
    margin-bottom: var(--dl-space-space-doubleunit);
    flex-direction: column;
    justify-content: flex-start;
  }
  .members-liam-tugonon {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .members-liam-tugonon {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .members-our-team {
    width: 100%;
    height: 3789px;
    padding-bottom: 0px;
  }
  .members-olivia {
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .members-olivia-fong {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .members-container1 {
    align-self: center;
  }
  .members-image {
    align-self: center;
  }
  .members-oliviafong {
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .members-olivia1 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation {
    align-self: center;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .members-navlink {
    margin-top: 0px;
    margin-left: 0px;
  }
  .members-paul {
    width: 100%;
    height: 484px;
    margin-top: var(--dl-space-space-sixunit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .members-paul-sheo {
    width: 308px;
    height: 100%;
    flex-direction: column;
  }
  .members-container2 {
    align-self: center;
  }
  .members-paul1 {
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .members-paul2 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation1 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-button {
    margin-left: 0px;
  }
  .members-madhu {
    width: 100%;
    height: 642px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .members-madhu-laxmi {
    width: 320px;
    height: 433px;
    margin-top: var(--dl-space-space-sixunit);
    flex-direction: column;
  }
  .members-container3 {
    align-self: center;
  }
  .members-image2 {
    align-self: center;
  }
  .members-madhu1 {
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .members-madhu2 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation2 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .members-button1 {
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  .members-jenny {
    width: 100%;
    height: 464px;
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .members-jenny-bui {
    width: 320px;
    height: 100%;
    flex-direction: column;
  }
  .members-container4 {
    align-self: center;
  }
  .members-image3 {
    align-self: center;
  }
  .members-jenny1 {
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
  }
  .members-jenny2 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation3 {
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .members-button2 {
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  .members-byron {
    width: 100%;
    height: 599px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .members-bryon {
    width: auto;
    height: auto;
    align-self: center;
    margin-top: var(--dl-space-space-sixunit);
    flex-direction: column;
  }
  .members-container5 {
    align-self: center;
  }
  .members-image4 {
    align-self: center;
  }
  .members-byron1 {
    height: 116px;
    align-self: center;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .members-byron2 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation4 {
    margin-left: 0px;
  }
  .members-button3 {
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: 0px;
  }
  .members-liam {
    width: 100%;
    height: 563px;
    align-self: center;
    margin-top: var(--dl-space-space-sixunit);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    justify-content: flex-start;
  }
  .members-liam-tugonon {
    width: 320px;
    height: 475px;
    margin-top: var(--dl-space-space-tripleunit);
    align-items: flex-start;
    margin-right: 0px;
    flex-direction: column;
  }
  .members-container6 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .members-image5 {
    align-self: center;
  }
  .members-liam1 {
    align-self: center;
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .members-liam2 {
    align-self: center;
    text-align: center;
    margin-left: 0px;
  }
  .members-occupation5 {
    align-self: center;
    margin-top: 0px;
    margin-left: 0px;
  }
  .members-button4 {
    align-self: center;
    margin-top: var(--dl-space-space-doubleunit);
    margin-left: 0px;
  }
}
