.navigation-links1-nav {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links1-text {
  color: var(--dl-color-colours-text);
  transition: 0.3s;
  text-decoration: none;
}
.navigation-links1-text:hover {
  color: var(--dl-color-colours-dove-gray);
}
.navigation-links1-text1 {
  color: var(--dl-color-colours-text);
  transition: 0.3s;
  margin-left: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.navigation-links1-text1:hover {
  color: var(--dl-color-colours-dove-gray);
}








.navigation-links1-root-class-name12 {
  align-self: center;
  margin-left: var(--dl-space-space-sixunit);
}
@media(max-width: 767px) {
  .navigation-links1-nav {
    width: auto;
    height: 24px;
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links1-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links1-text1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .navigation-links1-nav {
    height: 24px;
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links1-root-class-name12 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}

.nav-bar-container {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.nav-bar-header {
  width: 100%;
  display: flex;
  max-width: auto;
  box-shadow: 0px 3px 15px 2px #ffffff;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-colours-bg-color);
}
.nav-bar-container1 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-sixunit);
  justify-content: center;
}
.nav-bar-container2 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-sixunit);
  flex-direction: row;
}
.nav-bar-navlink {
  display: contents;
}
.nav-bar-logo {
  width: 100px;
  height: 100px;
  text-decoration: none;
}
.nav-bar-nav {
  display: flex;
  align-items: center;
  padding-left: 32px;
  flex-direction: row;
}







@media(max-width: 767px) {
  .nav-bar-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav-bar-nav {
    width: 411px;
    height: auto;
  }
}
@media(max-width: 479px) {
  .nav-bar-header {
    height: 112px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .nav-bar-container1 {
    position: relative;
  }
  .nav-bar-container2 {
    top: -30px;
    left: -70px;
    width: 419px;
    position: absolute;
    flex-direction: row;
    justify-content: center;
  }
  .nav-bar-logo {
    width: 63px;
    height: 63px;
  }
  .nav-bar-nav {
    padding-left: 0px;
  }
}

.olivia-fong-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.olivia-fong-hero {
  width: 100%;
  height: 877px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("assets/oliviasbackground.png");
  background-repeat: no-repeat;
  background-position: center;
}
.olivia-fong-header {
  color: var(--dl-color-colours-text);
  font-size: 96px;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-sixunit);
  font-family: Inter;
  font-weight: 500;
  line-height: 1.55;
  margin-bottom: 0px;
  letter-spacing: 12px;
  text-transform: capitalize;
  text-decoration: none;
}
.olivia-fong-quicklinks-container {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.olivia-fong-link {
  display: contents;
}
.olivia-fong-arrow {
  fill: var(--dl-color-colours-text);
  width: 149px;
  height: 149px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.olivia-fong-arrow:hover {
  fill: var(--dl-color-colours-dove-gray);
  width: 180px;
  height: 180px;
}
.olivia-fong-hero-links {
  width: 209px;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  margin-left: 65rem;
  flex-direction: column;
  justify-content: center;
}
.olivia-fong-link1 {
  display: contents;
}
.olivia-fong-about-me {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  margin-right: 0rem;
  text-decoration: none;
}
.olivia-fong-about-me:hover {
  color: var(--dl-color-colours-dove-gray);
  font-size: 30px;
  text-decoration:    none;
}
.olivia-fong-link2 {
  display: contents;
}
.olivia-fong-services {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  margin-right: 0rem;
  text-decoration: none;
}
.olivia-fong-services:hover {
  color: var(--dl-color-colours-dove-gray);
  font-size: 30px;
}
.olivia-fong-link3 {
  display: contents;
}
.olivia-fong-education {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  margin-right: 0rem;
  text-decoration: none;
}
.olivia-fong-education:hover {
  color: var(--dl-color-colours-dove-gray);
  font-size: 30px;
}
.olivia-fong-link4 {
  display: contents;
}
.olivia-fong-projects {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  margin-right: 0rem;
  text-decoration: none;
}
.olivia-fong-projects:hover {
  color: var(--dl-color-colours-dove-gray);
  font-size: 30px;
}
.olivia-fong-link5 {
  display: contents;
}
.olivia-fong-contact {
  color: var(--dl-color-colours-text);
  font-size: 24px;
  align-self: flex-end;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  margin-right: 0rem;
  text-decoration: none;
}
.olivia-fong-contact:hover {
  color: var(--dl-color-colours-dove-gray);
  font-size: 30px;
}
.olivia-fong-aboutme {
  width: auto;
  height: 605px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.olivia-fong-container1 {
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunit);
  flex-direction: row;
  justify-content: center;
}
.olivia-fong-about {
  width: 971px;
  height: 546px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.olivia-fong-text05 {
  color: var(--dl-color-colours-text);
  font-size: 16px;
  margin-top: var(--dl-space-space-tripleunit);
  font-family: DM Mono;
  font-weight: 500;
  margin-left: var(--dl-space-space-sixunit);
}
.olivia-fong-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.olivia-fong-text06 {
  color: var(--dl-color-colours-text);
  width: 25rem;
  font-size: 24px;
  margin-top: var(--dl-space-space-unit);
  font-family: Inter;
  font-weight: 400;
  line-height: 1.55;
  margin-left: 10rem;
  text-transform: none;
  text-decoration: none;
}
.olivia-fong-text08 {
  text-transform: none;
}
.olivia-fong-olivia {
  width: 459px;
  height: 426px;
  margin-top: var(--dl-space-space-doubleunit);
  object-fit: cover;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.olivia-fong-olivia:hover {
  width: 482px;
  height: 447px;
  box-shadow: 4px 4px 10px 5px #ffffff,-4px -4px 20px 5px rgba(111, 111, 111, 0.64);
}
.olivia-fong-hobbies {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-sixunit);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.olivia-fong-tea {
  flex: 0 0 auto;
  width: 1226px;
  height: 412px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.olivia-fong-text09 {
  top: 40px;
  left: 426px;
  color: var(--dl-color-colours-dove-gray);
  position: absolute;
  font-size: 96px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 1.1;
  text-transform: lowercase;
  background-color: rgb(214, 207, 203);
}
.olivia-fong-text09:hover {
  color: var(--dl-color-colours-text);
}
.olivia-fong-tea1 {
  width: 687px;
  height: 412px;
  align-self: flex-end;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 1rem;
}
.olivia-fong-tea1:hover {
  box-shadow: 5px 5px 15px 5px #ffffff,-5px -5px 15px 5px rgba(99, 99, 99, 0.45);
}
.olivia-fong-baking {
  flex: 0 0 auto;
  width: 1226px;
  height: 412px;
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-top: var(--dl-space-space-sixunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-sixunit);
  justify-content: flex-end;
}
.olivia-fong-text10 {
  top: 40px;
  left: 426px;
  color: var(--dl-color-colours-dove-gray);
  position: absolute;
  font-size: 96px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 1.1;
  text-transform: lowercase;
  background-color: rgb(214, 207, 203);
}
.olivia-fong-text10:hover {
  color: var(--dl-color-colours-text);
}
.olivia-fong-cookies {
  width: 687px;
  height: 412px;
  align-self: flex-end;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 1rem;
}
.olivia-fong-cookies:hover {
  box-shadow: 5px 5px 15px 5px #ffffff,-5px -5px 15px 5px rgba(99, 99, 99, 0.45);
}
.olivia-fong-taekwondo {
  flex: 0 0 auto;
  width: 1226px;
  height: 412px;
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}
.olivia-fong-text11 {
  top: 40px;
  left: 426px;
  color: var(--dl-color-colours-dove-gray);
  position: absolute;
  font-size: 96px;
  align-self: center;
  font-style: normal;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 1.1;
  text-transform: lowercase;
  background-color: rgb(214, 207, 203);
}
.olivia-fong-text11:hover {
  color: var(--dl-color-colours-text);
}
.olivia-fong-belt {
  width: 687px;
  height: 412px;
  align-self: flex-end;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 1rem;
}
.olivia-fong-belt:hover {
  box-shadow: 5px 5px 15px 5px #ffffff,-5px -5px 15px 5px rgba(99, 99, 99, 0.45);
}
.olivia-fong-services1 {
  width: 100%;
  height: 569px;
  display: flex;
  align-self: center;
  margin-top: 15rem;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.olivia-fong-text12 {
  color: var(--dl-color-colours-text);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.02272415161133%;
  margin-left: 25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.olivia-fong-text14 {
  color: var(--dl-color-colours-text);
  width: 855px;
  height: auto;
  font-size: 96px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-container3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.olivia-fong-education1 {
  width: 100%;
  height: 681px;
  display: flex;
  margin-top: 15rem;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.olivia-fong-education2 {
  color: var(--dl-color-colours-text);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.023%;
  margin-left: 25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.olivia-fong-school-1 {
  color: var(--dl-color-colours-text);
  width: 947px;
  height: auto;
  font-size: 40px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-school-1:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-school-2 {
  color: var(--dl-color-colours-text);
  width: 947px;
  height: auto;
  font-size: 40px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-school-2:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-highschool {
  color: var(--dl-color-colours-text);
  width: 947px;
  height: auto;
  font-size: 40px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-highschool:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-highschool1 {
  color: var(--dl-color-colours-text);
  width: 947px;
  height: auto;
  font-size: 40px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-tripleunit);
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-highschool1:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-projects1 {
  width: 100%;
  height: 1291px;
  display: flex;
  margin-top: 10rem;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.olivia-fong-projects2 {
  color: var(--dl-color-colours-text);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.023%;
  margin-left: 25rem;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.olivia-fong-projects3 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.olivia-fong-personal-website {
  flex: 0 0 auto;
  width: 999px;
  height: 412px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: center;
  justify-content: flex-end;
}
.olivia-fong-text27 {
  top: 85px;
  left: 55px;
  color: var(--dl-color-colours-dove-gray);
  position: absolute;
  font-size: 96px;
  align-self: center;
  font-style: normal;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 1.1;
  text-transform: lowercase;
  background-color: rgb(214, 207, 203);
}
.olivia-fong-belt1 {
  width: 687px;
  height: 412px;
  align-self: flex-end;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 1rem;
}
.olivia-fong-belt1:hover {
  box-shadow: 5px 5px 15px 5px #ffffff,-5px -5px 15px 5px rgba(99, 99, 99, 0.45);
}
.olivia-fong-discord-bot {
  width: 991px;
  height: 452px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-sixunit);
  align-items: center;
  justify-content: flex-end;
}
.olivia-fong-text32 {
  top: 85px;
  left: 55px;
  color: var(--dl-color-colours-dove-gray);
  position: absolute;
  font-size: 96px;
  align-self: center;
  font-style: normal;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 1.1;
  text-transform: lowercase;
  background-color: rgb(214, 207, 203);
}
.olivia-fong-belt2 {
  width: 561px;
  height: 451px;
  align-self: flex-end;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 1rem;
}
.olivia-fong-belt2:hover {
  box-shadow: 5px 5px 15px 5px #ffffff,-5px -5px 15px 5px rgba(99, 99, 99, 0.45);
}
.olivia-fong-contacts {
  width: 100%;
  height: 681px;
  display: flex;
  margin-top: 10rem;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.olivia-fong-contacts-container {
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.olivia-fong-contacts1 {
  color: var(--dl-color-colours-text);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-decoration: none;
}
.olivia-fong-link6 {
  display: contents;
}
.olivia-fong-email {
  color: var(--dl-color-colours-text);
  width: auto;
  height: auto;
  font-size: 96px;
  align-self: center;
  font-style: Medium;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  transition: 0.3s;
  font-family: Inter;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-email:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-link7 {
  display: contents;
}
.olivia-fong-number {
  color: var(--dl-color-colours-text);
  width: auto;
  height: auto;
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-number:hover {
  color: var(--dl-color-colours-dove-gray);
}
.olivia-fong-location {
  color: var(--dl-color-colours-text);
  width: auto;
  height: auto;
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: left;
  transition: 0.3s;
  font-family: DM Mono;
  font-weight: 500;
  line-height: 122.023%;
  font-stretch: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.olivia-fong-location:hover {
  color: var(--dl-color-colours-dove-gray);
}
@media(max-width: 1600px) {
  .olivia-fong-hero {
    width: 1585px;
    height: 1009px;
    margin-top: 0px;
    background-position: center;
  }
  .olivia-fong-header {
    margin-bottom: 0px;
  }
  .olivia-fong-hero-links {
    margin-left: 50rem;
  }
  .olivia-fong-text06 {
    width: 25rem;
    margin-left: 10rem;
  }
  .olivia-fong-text12 {
    margin-left: var(--dl-space-space-sixunit);
  }
  .olivia-fong-education2 {
    margin-left: var(--dl-space-space-sixunit);
  }
  .olivia-fong-projects2 {
    margin-left: var(--dl-space-space-sixunit);
  }
}
@media(max-width: 1200px) {
  .olivia-fong-hero {
    width: 100%;
    height: 1011px;
  }
  .olivia-fong-header {
    color: var(--dl-color-colours-text);
    font-size: 96px;
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    font-family: Inter;
    font-weight: 500;
    line-height: 1.55;
    margin-bottom: 0rem;
    letter-spacing: 12px;
    text-transform: none;
    text-decoration: none;
  }
  .olivia-fong-quicklinks-container {
    width: 1088px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-arrow {
    align-self: center;
  }
  .olivia-fong-hero-links {
    margin-left: 0rem;
  }
  .olivia-fong-aboutme {
    width: 100%;
    height: 817px;
    flex-direction: row;
  }
  .olivia-fong-container1 {
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  .olivia-fong-about {
    width: 715px;
    height: 411px;
  }
  .olivia-fong-text06 {
    width: 25rem;
  }
  .olivia-fong-hobbies {
    width: 100%;
    height: 1468px;
    align-self: center;
  }
  .olivia-fong-text12 {
    margin-left: 0rem;
  }
  .olivia-fong-education2 {
    margin-left: 0rem;
  }
  .olivia-fong-projects2 {
    margin-left: 0rem;
  }
}
@media(max-width: 991px) {
  .olivia-fong-hero {
    width: 100%;
    height: 789px;
  }
  .olivia-fong-header {
    font-size: 76px;
    margin-top: 0rem;
  }
  .olivia-fong-quicklinks-container {
    width: 100%;
    height: 132px;
  }
  .olivia-fong-arrow {
    width: 107px;
    height: 101px;
    margin-left: var(--dl-space-space-sixunit);
  }
  .olivia-fong-hero-links {
    width: 196px;
    margin-left: 35rem;
    margin-right: var(--dl-space-space-sixunit);
  }
  .olivia-fong-about-me {
    color: var(--dl-color-colours-text);
    width: 78px;
    height: 23px;
    font-size: 16px;
    font-style: normal;
    font-family: DM Mono;
    font-weight: 500;
    margin-right: 0px;
    text-decoration: none;
  }
  .olivia-fong-services {
    font-size: 16px;
    margin-right: 0px;
  }
  .olivia-fong-education {
    font-size: 16px;
    margin-right: 0px;
  }
  .olivia-fong-projects {
    font-size: 16px;
    margin-right: 0px;
  }
  .olivia-fong-contact {
    font-size: 16px;
    margin-right: 0px;
  }
  .olivia-fong-aboutme {
    height: 585px;
  }
  .olivia-fong-container1 {
    height: 427px;
  }
  .olivia-fong-text06 {
    margin-left: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-olivia {
    width: 388px;
    height: 374px;
    margin-right: var(--dl-space-space-tripleunit);
  }
  .olivia-fong-tea {
    width: 100%;
  }
  .olivia-fong-baking {
    width: 100%;
  }
  .olivia-fong-taekwondo {
    width: 100%;
  }
  .olivia-fong-text12 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-halfunit);
  }
  .olivia-fong-projects3 {
    margin-top: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-personal-website {
    height: 370px;
  }
  .olivia-fong-text27 {
    font-size: 76px;
  }
  .olivia-fong-belt1 {
    width: 614px;
    height: 368px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-discord-bot {
    width: 928px;
    height: 458px;
  }
  .olivia-fong-text32 {
    top: 106px;
    left: 69px;
    font-size: 76px;
  }
}
@media(max-width: 767px) {
  .olivia-fong-hero {
    height: 542px;
    flex-direction: column;
  }
  .olivia-fong-header {
    height: 410px;
    margin-top: 0px;
  }
  .olivia-fong-quicklinks-container {
    width: 767px;
    height: 0px;
    opacity: 0;
  }
  .olivia-fong-aboutme {
    height: auto;
  }
  .olivia-fong-container1 {
    height: 418px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-about {
    width: 463px;
    height: 399px;
    align-items: center;
    justify-content: center;
  }
  .olivia-fong-text05 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-tripleunit);
  }
  .olivia-fong-text06 {
    width: 353px;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    margin-right: 0px;
  }
  .olivia-fong-olivia {
    width: 257px;
    height: 247px;
    margin-top: var(--dl-space-space-sixunit);
    margin-right: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-tea {
    height: auto;
  }
  .olivia-fong-text09 {
    top: 110px;
    left: 130px;
    font-size: 64px;
    padding-bottom: 0px;
  }
  .olivia-fong-tea1 {
    width: 500px;
    height: 300px;
    align-self: center;
  }
  .olivia-fong-baking {
    height: auto;
  }
  .olivia-fong-text10 {
    top: 110px;
    left: 55px;
    font-size: 64px;
  }
  .olivia-fong-cookies {
    width: 500px;
    height: 300px;
  }
  .olivia-fong-taekwondo {
    height: auto;
  }
  .olivia-fong-text11 {
    top: 110px;
    left: 55px;
    font-size: 64px;
  }
  .olivia-fong-belt {
    width: 500px;
    height: 300px;
  }
  .olivia-fong-text14 {
    width: 649px;
    height: 272px;
    font-size: 68px;
  }
  .olivia-fong-education1 {
    height: 756px;
  }
  .olivia-fong-school-1 {
    width: 718px;
    height: 180px;
    font-size: 36px;
  }
  .olivia-fong-school-2 {
    width: 718px;
    height: 160px;
    font-size: 36px;
  }
  .olivia-fong-highschool {
    width: 718px;
    height: 129px;
    font-size: 36px;
  }
  .olivia-fong-highschool1 {
    width: 718px;
    height: 80px;
    font-size: 36px;
  }
  .olivia-fong-projects1 {
    height: 1027px;
  }
  .olivia-fong-personal-website {
    width: 767px;
    height: 308px;
    margin-bottom: 0px;
  }
  .olivia-fong-text27 {
    top: 80px;
    left: 50px;
    font-size: 64px;
  }
  .olivia-fong-belt1 {
    width: 477px;
    height: 299px;
    align-self: center;
  }
  .olivia-fong-discord-bot {
    width: 767px;
    height: 422px;
  }
  .olivia-fong-text32 {
    top: 130px;
    left: 50px;
    width: auto;
    height: auto;
    margin: auto;
    font-size: 64px;
  }
  .olivia-fong-belt2 {
    width: 413px;
    height: 332px;
    align-self: center;
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 479px) {
  .olivia-fong-hero {
    height: 592px;
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .olivia-fong-header {
    color: var(--dl-color-colours-text);
    width: 319px;
    height: 403px;
    font-size: 64px;
    align-self: center;
    font-style: normal;
    margin-top: 0px;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: 1.55;
    margin-bottom: 0px;
    letter-spacing: 12px;
    text-transform: capitalize;
    text-decoration: none;
  }
  .olivia-fong-quicklinks-container {
    width: 479px;
    height: 39px;
  }
  .olivia-fong-container1 {
    height: auto;
    flex-direction: column;
  }
  .olivia-fong-about {
    width: auto;
    height: auto;
    align-self: center;
  }
  .olivia-fong-text05 {
    margin-left: 0px;
  }
  .olivia-fong-text06 {
    font-size: 16px;
  }
  .olivia-fong-olivia {
    align-self: center;
    margin-top: var(--dl-space-space-tripleunit);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-hobbies {
    height: 850px;
    padding: var(--dl-space-space-tripleunit);
  }
  .olivia-fong-tea {
    width: 345px;
    height: auto;
    align-self: center;
  }
  .olivia-fong-text09 {
    top: 55px;
    left: 80px;
    font-size: 32px;
  }
  .olivia-fong-tea1 {
    width: 246px;
    height: 161px;
  }
  .olivia-fong-baking {
    width: 345px;
    height: 159px;
    align-self: center;
  }
  .olivia-fong-text10 {
    top: 55px;
    left: 20px;
    font-size: 32px;
  }
  .olivia-fong-cookies {
    width: 246px;
    height: 161px;
  }
  .olivia-fong-taekwondo {
    width: 345px;
    height: auto;
    align-self: center;
  }
  .olivia-fong-text11 {
    top: 55px;
    left: 20px;
    height: 37px;
    font-size: 32px;
  }
  .olivia-fong-belt {
    width: 246px;
    height: 161px;
    align-self: center;
  }
  .olivia-fong-services1 {
    width: 100%;
    height: 330px;
    margin-top: var(--dl-space-space-sixunit);
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .olivia-fong-text12 {
    width: auto;
    height: auto;
    margin-left: var(--dl-space-space-unit);
  }
  .olivia-fong-text14 {
    width: 351px;
    height: 223px;
    font-size: 48px;
    margin-top: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-education1 {
    margin-top: var(--dl-space-space-sixunit);
  }
  .olivia-fong-school-1 {
    width: auto;
    height: auto;
    font-size: 32px;
  }
  .olivia-fong-school-2 {
    width: auto;
    height: auto;
    font-size: 32px;
  }
  .olivia-fong-highschool {
    width: auto;
    height: auto;
    font-size: 32px;
  }
  .olivia-fong-highschool1 {
    width: auto;
    height: auto;
    font-size: 32px;
    align-self: flex-start;
  }
  .olivia-fong-projects1 {
    height: auto;
  }
  .olivia-fong-personal-website {
    width: 373px;
    height: 168px;
  }
  .olivia-fong-text27 {
    top: 50px;
    left: 13px;
    font-size: 24px;
  }
  .olivia-fong-belt1 {
    width: 273px;
    height: 170px;
  }
  .olivia-fong-discord-bot {
    width: 373px;
    height: 215px;
  }
  .olivia-fong-text32 {
    top: 75px;
    left: 18px;
    position: absolute;
    font-size: 24px;
  }
  .olivia-fong-belt2 {
    width: 230px;
    height: 193px;
    margin-right: var(--dl-space-space-doubleunit);
  }
  .olivia-fong-contacts {
    height: 432px;
  }
  .olivia-fong-contacts-container {
    width: 298px;
    height: 50%;
  }
  .olivia-fong-email {
    width: 295px;
    height: 92px;
    font-size: 36px;
  }
}
