<div>
  <link href="./nav-bar.css" rel="stylesheet" />
  <div class="nav-bar-container">
    <header data-role="Header" class="nav-bar-header">
      <div class="nav-bar-container1">
        <div class="nav-bar-container2">
          <a href="index.html" class="nav-bar-navlink">
            <img
              alt="logo"
              src="assets/blueteam-logo.png"
              class="nav-bar-logo"
            />
          </a>
          <div class="nav-bar-nav">
            <nav
              class="navigation-links1-nav navigation-links1-root-class-name12"
            >
              <a href="index.html" class="navigation-links1-text">
                <span>Home</span>
              </a>
              <a href="members.html" class="navigation-links1-text1">
                <span>Members</span>
              </a>
            </nav>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>
